* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:'blue';
}

html {background-color: black}

label {
    color: #fff;
}

#canvas1{
    background-color : black;
}


.comment{
    color: #fff;
}

